<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">

      <!-- Elements visible all the time -->
      <div class="col-sm-7">
        <% render 'layouts/navigation/header' %>
      </div>">

      <!-- Elements collapses on smaller devices -->
      <div>
        <% render 'layouts/navigation/collapsible_elements' %>        
      </div>

    </div>
  </div><!-- /.container-fluid -->
</nav>
